/* 전체 페이지 스타일 */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* 배경색 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto; /* 스크롤 활성화 */
}

/* A4 크기 설정 */
.resume {
    width: 21cm;
    height: 29.7cm;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.left{
    width: 39%;
    height: 100%;
    background: rgba(0, 110, 255, 0.04) ;
}

.image{
    margin-left: 40px;
    margin-top: 40px;
    width: 220px;
    height: 220px;
    background-color: red;
}

.contact{
    margin-left: 40px;
    width:220px;
    height:150px;
    background-color: orange;
}

.skills{
    margin-left: 40px;
    width: 220px;
    height: 170px;
    background-color: yellow;
}

.awardAndCertificate{
    margin-left: 40px;
    width: 220px;
    height: 130px;
    background-color: greenyellow;
}

.education{
    margin-left: 40px;
    width: 220px;
    height: 210px;
    background-color: blue;
}

.portfolio{
    margin-left: 40px;
    width: 220px;
    height: 100px;
    background-color: blueviolet;
}

.right{
    width: 61%;
    height: 100%;
}

.aboutMe{
    width: 400px;
    height: 220px;
    background-color: red;
    margin-top: 40px;
    margin-left: 40px;
}
.experience{
    width: 400px;
    height: 300px;
    background-color: orange;
    margin-left: 40px;
}
.project{
    width: 400px;
    height: 500px;
    background-color: yellow;
    margin-left: 40px;
}